@model IEnumerable<SixthAttempt.Models.CropList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cropName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cropType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cropQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cropName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cropType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cropQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.basePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cropID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cropID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cropID })
        </td>
    </tr>
}

</table>
