@model SixthAttempt.Models.Insurence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Insurence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerOfCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerOfCompany)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.companyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
