@model IEnumerable<SixthAttempt.Models.Farmer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adharNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.panNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFSC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adharNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.panNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSC)
            </td>
           
        </tr>
    }

</table>
